body {
    margin: 2%;
    padding: 3%;
    display: flex;
    flex-direction: column;
}

h1, footer {
    color: white;
}

#main-container {
    width: 80%;
    height: 60em;
    position: absolute;
    margin: auto;
    padding: 2em;
    background-color:lightgray;
}

#top-section input{
    width: 100%;
}

#top-section fieldset {
    width: 65%;
    padding: 5%;
    margin: 50%;
}

#top-section {
    height: 10em;
    margin: 2em;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#top-section div {
    padding: 1%;
    width: 10%;
    display: inline-block;
}

.flex-container div {
    width: 50px;
}

header, footer {
    background-color: rgb(83, 83, 216);
    text-align: center;
    height: 10%;
}

#middle-section {
    padding: 1em;
    background-color: rgb(112, 112, 112);
    height: 40em;
}

#main-section {
    background-color:lightskyblue;
    height: 25em;
    display: flex;
    flex-direction: column;
}

#table-html-space {
    background-color:orangered;
    width: 90%;
    margin: 5%;
    height: 40%;
}

input:invalid {
    background-color: rgb(223, 173, 173);
}




