table, th, td {
    border: solid;
}

table {
    width: 80%;
    border-width: 1px;
    margin: 1em;
    background-color: white;
}

#table-render-space {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    height:40%;
    width: 90%;
    margin: 5%;
}





